@import url("variables.css");
@import url("common.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins-font);
}
body{
    width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    align-items: center; 
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-logo a{
    font-family: var(--inspiration-font);
    font-size: 60px;
    color: white;
}

.navbar-menu{
    list-style: none;
    display: flex;
    gap: 30px;
    transition: 0.5s all ease;
}

.navbar-menu li a {
    font-size: 24px;
    position: relative;
}

.navbar-menu li a.active,
.navbar-menu li a:hover{
    text-decoration: underline;
}

.navbar-menu li a span.badge{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hero-section*/
.hero{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 100px;
}

.hero-bg{
    position: absolute;
    top: -100px;
    right: -50%;
    transform: translatex(-60%);
    height: calc(100vh);
    width: calc(100vh);
    border-radius: 50%;
    z-index: -10;
}

.hero .hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.hero .hero-content-title{
    font-size: var(--title);
    line-height: 1; 
}

.hero .hero-content-title span{
    font-weight: 400;

}

.hero .hero-content-slogan span{
    color: black;
}

.hero .order-info-total{
    font-size: 40px;
}

.hero .order-info-total .price{
    font-weight: 600;
}

.order-info-buttons{
    display: flex;
    align-items: center;
    gap: 32px;
}

.order-info-buttons .quantity-selector{
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    width: 180px;
    height: 66px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.order-info-buttons .quantity-selector button{
    background: transparent;
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    font-size: 32px;
    cursor: pointer;
}

.order-info-buttons .quantity-selector span{
    border-right: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    width: 50%;
    text-align: center;
}

.order-info-buttons .add-to-card{
    background-color: black;
    color: #fff;
    width: 261px;
    height: 75px;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    font-size: 24px;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0,4);
}

.order-info-buttons .add-to-card .card-icon{
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: var(--primary-color);
    border-radius: 100px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-carousel{
    display: flex;
    align-items: center;
    gap: 23px;
}
.food-carousel button{
    background-color: #fff;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 46px;
    height: 46px;
    font-size: 24px;
    cursor: pointer;
}
.food-carousel .food-items{
    display: flex;
    gap: 23px;
    width: calc(3 * 118px);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.food-carousel .food-item{
    width: 93px;
    height: 163px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    
}

.food-carousel .food-item.selected{
    border: 2px solid var(--primary-color);
}

.food-carousel .food-item:nth-child(even){
    background: #DDFCBF;
}

.food-carousel .food-item:nth-child(odd){
    background: #ffe0f0;
}

.food-carousel .food-item img{
    border-radius: 100px;
    width: 85px;
    height: 85px;
}

.food-carousel .food-item .item-price{
    font-weight: 400;
}

.food-carousel .food-item .item-price .valute{
    font-weight: 400;
    color: var(--primary-color);
}

.hero-image{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-image .hero-main-image{
    max-width: 500px;
    max-height: 500px;
    z-index: 50;
}

.hero-image .food-details {
    background-color: var(--primary-color);
    width: 330px;
    height: 250px;
    margin-top: -150px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 20px;
}


.hero-image .food-details .food-title{
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.hero-image .food-details .perpare-time{
    background-color: #000;
    border-radius: 14px;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
}

/*hero-section*/
/*Step-order-section*/
.order-steps{
    text-align: center;
    padding: 100px 20px;
    background-color: var(--light-color);
}

.order-steps-title{
    font-size: var(--title);
    margin-bottom: 30px;
    color: var(--primary-color);
    font-family: var(--handlee-font);
}

.order-steps-container{
    display: flex;
    justify-content: center;
    gap: 37px;
    flex-wrap: wrap;
}

.order-step{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0,1);
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 400px;
    transition: transform 0.3s;
    position: relative;
}

.order-step:hover{
    transform: translateY(-10px);
}

.order-step-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    transition: 0.7s all ease;
    opacity: 0.1;
}

.order-step:hover .order-step-icon{
    opacity: 0.3;
}
.order-step-title{
    font-size: 96px;
    font-family: var(--irish-font);
    margin: 10px 0;
}

.order-step-description{
    font-size: 14px;
    color: #666;
}

/*Step-order-section*/
/*cta-section*/
.cta-section{
    position: relative;
    background-image: url(../img/dan-gold-E6HjQaB7UEA-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 75px 20px;
    text-align: center;
    color: #fff;
}

.cta-content{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 60px;
    border-radius: 20px;
    max-width: 690px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.cta-title{
    font-size: var(--title);
    font-family: var(--handlee-font);
    margin-bottom: 20px;
}

.cta-description{
    font-size: 28px;
    margin-bottom: 30px;
}

.cta-button{
    display: inline-block;
    padding: 15px 70px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s all ease;
    box-shadow: 0 0 12px rgba(245, 129, 0, 0.4);
}

.cta-button:hover{
    background-color: #e66b00;
}
/*cta-section*/

/*statistics-section*/
.statistics-section{
    background-color: var(--light-color);
    padding: 60px 20px 130px 28px;
    text-align: center;
    color: #333;
}

.statistics-title{
    font-size: var(--title);
    color: var(--primary-color);
    font-family: var(--handlee-font);
    margin-bottom: 50px;
}

.statistics-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.stat-item{
    flex: 1 1 200px;
    max-width: 200px;
    text-align: center;
}

.stat-value{
    font-size: var(--title);
    font-family: var(--irish-font);
    font-weight: bold;
}

.stat-description{
    font-size: 24px;
    color: #303030;
    margin-top: 10px;
}
/*statistics-section*/
/*About-section*/
.about-section{
    position: relative;
    background-image: url(../img/dan-gold-E6HjQaB7UEA-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding:  100px 20px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 75px 130px;
    border-radius: 15px;
    max-width: 80%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0,2);

}

.about-title{
    font-size: var(--title);
    font-family: var(--handlee-font);
    margin-bottom: 20px;
    color: #fff;
}

.bout-description{
    font-size: 20px;
    color: #ccc;
    margin-bottom: 20px;
    line-height: 1.6;
}
/*About-section*/
/*Subscribe-section*/
.subscribe-section{
    background-color: var(--primary-color);
    padding: 55px 20px 100px 20px;
    text-align: center;
    color: #fff;
}

.subscribe-title{
    font-size: var(--title);
    font-family: var(--handlee-font);
    margin-bottom: 22px;
}

.subscribe-form{
    margin: 0 auto;
    max-width: 540px;
}

.subscribe-form-inline{
    display: flex;
    gap: 25px;
}

.subscribe-imput{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 250px;
    flex: 1;
}

.subscribe-checkbox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 23px;
}

.subscribe-checkbox input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.subscribe-button{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}
/*Subscribe-section*/

/*Location-section*/
.contact-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 75px 20px;
    background-color: #f9f9f9;
    text-align: left;
}

.contact-info{
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.contact-info p{
font-size: 18px;
color: #555;
margin-bottom: 20px;
}

.map-container{
    flex: 2;
    max-width: 60%;
    height: 350px;
}

.map-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/*Location-section*/
/*vedeo-section*/
.video-section{
    background-color: var(--primary-color);
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

.video-title{
    margin-bottom: 30px;
    color: #fff;
    font-size: var(--title);
    font-family: var(--handlee-font);
}

.video-description{
    font-size: 16px;
    text-wrap: balance;
    margin-bottom: 40px;
}

.video-iframe{
    width: 1200px;
    aspect-ratio: 16 / 9;
}
/*vedeo-section*/
/*Email-section*/
.email-section{
    background-color: var(--light-color);
    padding: 60px 20px;
}

.email-content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: 30px auto;
    gap: 20px;
}
.email-image img{
    width: 509px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0,1);
}

.email-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.email-form input{
    width: 345px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.email-form textarea{
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.email-form button{
    width: 245px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-form button:hover{
    background-color: orangered;
}


/*Email-section*/
/*testimonial-section*/
.testmonial-section{
    padding: 60px 20px;
    padding-bottom: 150px;
    text-align: center;
    background-color: #fff;
}
.testimonial-title{
    margin-bottom: 15px;
}
.carusel-indicators{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carusel-indicators .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #fdbe77;
    border-radius: 50%;
    cursor: pointer;
}
.carusel-indicators .dot.active{
    border: 4px solid var(--primary-color);
    height: 15px;
}
.testimonial-carusel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 50px;
}

.testimonial-carusel .carusel-arrow{
    background: none;
    border: none;
    font-size: 50px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0 15px;
}

.testimonial-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
    width: 100%;
}

.testimonial-card-first{
    width: 350px;
    height: 350px;
    color: white;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    padding: 20px;
}
.testimonial-card-first::before{
    content: "";
    position: absolute;
    background-color: #000;
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    border-radius: 60px;
    transform: skew(-5deg, 11deg) translateY(10px) translateX(-10px);
    z-index: -1;
}

.testimonial-card-first::after{
    content: "";
    position: absolute;
    background-color:var(--primary-color);
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    border-radius: 60px;
    transform: skew(-5deg, 21deg) translateY(10px) translateX(-10px);
    z-index: -2;
}

.testimonial-card-first img{
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 100px;
    z-index: 10;
}

.testimonial-card-first .testimonial-card-name{
    font-size: 18px;
}

.testimonial-card-first .testimonial-card-role{
    font-size: 12px;
}
.testimonial-card-first .testimonial-quote{
    font-size: 13px;
    color: var(--primary-color);
}
.testimonial-card-first .testimonial-text{
    font-size: 12px;
}



/*middlecard*/
.testimonial-card-middle{
    width: 450px;
    height: 450px;
    color: white;
    border-radius: 70px;
    position: relative;
    z-index: 10;
    padding: 20px;
    perspective: 450px;
}

.testimonial-card-middle::before{
    content: "";
    position: absolute;
    background-color: #000;
    width: 350px;
    height: 350px;
    top: 0;
    left: -10px;
    border-radius: 60px;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(-10deg);
    z-index: -1;
}

.testimonial-card-middle::after{
    content: "";
    position: absolute;
    background-color:var(--primary-color);
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    border-radius: 60px;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(-15deg);
    z-index: -2;
}

.testimonial-card-middle img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: -50px;
    z-index: 10;
}

.testimonial-card-middle .testimonial-card-name{
    font-size: 24px;
}

.testimonial-card-middle .testimonial-card-role{
    font-size: 18px;
}
.testimonial-card-middle .testimonial-quote{
    font-size: 20px;
    color: var(--primary-color);
}
.testimonial-card-middle .testimonial-text{
    font-size: 12px;
}

/*middlecard*/
/*third-card*/
.testimonial-card-third{
    width: 350px;
    height: 350px;
    color: white;
    border-radius: 50px;
    position: relative;
    z-index: 10;
    padding: 20px;
}
.testimonial-card-third::before{
    content: "";
    position: absolute;
    background-color: #000;
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    border-radius: 60px;
    transform: skew(1deg, -11deg) translateY(10px) translateX(-10px);
    z-index: -1;
}

.testimonial-card-third::after{
    content: "";
    position: absolute;
    background-color:var(--primary-color);
    width: 350px;
    height: 350px;
    top: 0;
    left: 10px;
    border-radius: 60px;
    transform: skew(5deg, -21deg) translateY(10px) translateX(-10px);
    z-index: -2;
}

.testimonial-card-third img{
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 100px;
    z-index: 10;
}

.testimonial-card-third .testimonial-card-name{
    font-size: 18px;
}

.testimonial-card-third .testimonial-card-role{
    font-size: 12px;
}
.testimonial-card-third .testimonial-quote{
    font-size: 13px;
    color: var(--primary-color);
}
.testimonial-card-third .testimonial-text{
    font-size: 12px;
}

/*thirdcard*/
/*testimonial-section*/

/*fototer*/
.footer-section{
    background-color: var(--light-color);
    padding: 40px 80px;
    text-align: center;
    font-family: "popins", sans-serif;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-left{
    text-align: left;
}

.footer-logo h1{
    font-family: var(--inspiration-font);
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 500;
}

.footer-info h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin: 10px 0;
}

.footer-button .order-button{
    background-color: var(--primary-color);
    color: #000;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    text-size-adjust: 18px;
    transition: all 0.3 ease;
}

.footer-button .order-button:hover{
    background-color: orange;
}

.footer-divider{
    border: 0;
    height: 1px;
    background-color: #999;
    margin: 30px 0;
}

.footer-buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    color: #555;
    font-size: 14px;
}
.footer-links a{
    margin: 0 10px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    transition: all 0,3 ease;
}
.footer-links a:hover{
    color: var(--primary-color)
}
/*fototer*/
/*menu-layout*/
.menu-layout{
    display: flex;
    gap: 20px;
    padding: 20px;
    position: relative;
}
.menu{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #ff0000;
}
.menu-catogories{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/*menu-layout*/